.root {
    -fx-font: sans-serif;
    -fx-background-color: white;
}
.jfx-button {
    -fx-background-color: #ff0000;
}

.button {
   -fx-background-color: #ff0000;
   -fx-text-fill: white;
}

.scroll-pane {
   -fx-background: #FFFFFF;
   -fx-border-color: #FFFFFF;
}

.scroll-pane > .corner {
    -fx-background-color: #ff0000;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #ff0000;
    -fx-background-radius: 5em;
}